div{
    background-color: blue;
    color: #ff0000;
}
div {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}
div{
    background-color: aqua;
    color: black;
}
div {
    width: 300px;
    border: 15px solid yellow;
    padding: 50px;
    margin: 20px;
}
